# Copia este archivo a .env.local y llena los valores reales
# NUNCA subas el archivo .env.local a GitHub (ya está en .gitignore)

TURSO_DATABASE_URL=libsql://base-mesas-gc-vbgjptt89g-beep.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTA2MTAzNDYsImlkIjoiMDFhMGU4YWUtNjUwMS03YzE2LWI0YWYtNWM0MmIwZDA5MjliIiwia2lkIjoid3pwck1xZkJoMVFyMWlVczBNUFZRWW5HRXo5VTVoUW9lSUdrNXoyRmNpMCIsInJpZCI6ImNjOTdhOTU4LWM1MzktNDEyNi05OGY5LWYwMGM0MTQ2NGUzMiJ9.ZEqub0CuHcJZuWJAtMsUC88cYZo_Hk1NefCwci8GS1qx9EEoEGFlxZ6QD8-yeh9CGsozZdCTvYA89NeEjabnBw

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# OpenRouter (IA)
OPENROUTER_API_KEY=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

